First, let's import the needed libraries and datasets, and preview imported datasets.

In [1]:
import pandas as pd
import numpy as np

dataset_filtered = pd.read_csv('https://raw.githubusercontent.com/projectavi/csc110-project/main/data/filtered_data.csv?token=APPASTSPQ26QCCNATR4NBEDBXTYFQ')
dataset_filtered.head(5)

   Unnamed: 0     type  ... sentiment score
0          59  comment  ...   -0.4969     1
1         172  comment  ...    0.0000     1
2         267  comment  ...    0.0000     1
3         336  comment  ...    0.0000     1
4         374  comment  ...   -0.0212     1

[5 rows x 11 columns]

In [2]:
dataset_filtered_us = pd.read_csv('https://raw.githubusercontent.com/projectavi/csc110-project/main/data/filtered_data_us.csv?token=APPASTUN4HA4VNVF3RB52F3BXTYKC')
dataset_filtered_us.head(5)

   Unnamed: 0     type  ... sentiment score
0       10965  comment  ...    0.0150     1
1       19227  comment  ...   -0.6908     2
2       28493  comment  ...   -0.8228     7
3       31501  comment  ...   -0.5013    14
4       32499  comment  ...    0.7065     9

[5 rows x 11 columns]

In [3]:
dataset_filtered.describe(include='all')

          Unnamed: 0     type  ...     sentiment         score
count   3.233500e+04    32335  ...  32033.000000  32335.000000
unique           NaN        1  ...           NaN           NaN
top              NaN  comment  ...           NaN           NaN
freq             NaN    32335  ...           NaN           NaN
mean    1.154459e+06      NaN  ...     -0.106267     13.836864
std     5.337002e+05      NaN  ...      0.618454    142.056247
min     5.900000e+01      NaN  ...     -0.999500   -130.000000
25%     7.131955e+05      NaN  ...     -0.684800      1.000000
50%     1.299667e+06      NaN  ...     -0.102700      2.000000
75%     1.584582e+06      NaN  ...      0.440400      7.000000
max     1.999899e+06      NaN  ...      0.999200  12725.000000

[11 rows x 11 columns]

In [4]:
dataset_filtered_us.describe(include='all')

          Unnamed: 0     type  ...    sentiment        score
count   2.296000e+03     2296  ...  2285.000000  2296.000000
unique           NaN        1  ...          NaN          NaN
top              NaN  comment  ...          NaN          NaN
freq             NaN     2296  ...          NaN          NaN
mean    9.052432e+06      NaN  ...    -0.178967     2.344948
std     5.502129e+06      NaN  ...     0.653328     3.934696
min     1.096500e+04      NaN  ...    -0.998900   -27.000000
25%     3.671965e+06      NaN  ...    -0.803000     1.000000
50%     9.569694e+06      NaN  ...    -0.318200     2.000000
75%     1.390160e+07      NaN  ...     0.435200     3.000000
max     1.777703e+07      NaN  ...     0.999400    46.000000

[11 rows x 11 columns]

Now, let's remove the columns that will not be needed in training the NLP model.

In [5]:
def remove_columns(dfs: list, cols: list) -> None:
  """
  Removes the specified columns from the given dataframes.

  Precondition:
    - all(df1.columns == df2.columns for df1 in dfs for df2 in dfs)
  """
  for df in dfs:
    df.drop(columns = cols, inplace = True)

In [6]:
dfs = [dataset_filtered, dataset_filtered_us]
cols = ['Unnamed: 0', 'type', 'id', 'subreddit.id', 'subreddit.name',
        'subreddit.nsfw', 'permalink', 'sentiment', 'score']

remove_columns(dfs, cols)

Let's add an 'id' column to allow for indexing rows, if needed.

In [7]:
def add_id(dfs: list)->None:
  """
  Add an id column to the input dataframes.
  """
  for df_index in range(len(dfs)):
    dfs[df_index].insert(0, 'id', dfs[df_index].index)
    #dfs[df_index]['id'] = dfs[df_index].index
    dfs[df_index].set_index('id')

In [8]:
dfs = [dataset_filtered, dataset_filtered_us]

add_id(dfs)

We must also consider whether the dataframes have any empty values.

In [9]:
dfs[0].isnull().sum()

id             0
created_utc    0
body           0
dtype: int64

In [10]:
dfs[1].isnull().sum()

id             0
created_utc    0
body           0
dtype: int64

Since both dataframes have empty values, they must be taken care of. 

There are two possible things that can be done here: removing the rows with empty values, or replacing the empty rows by their mean (a process called imputation). 

I've decided to drop NaN/null values instead of practicing imputation. Imputation would reduce the accuracy of dataset as there is no guarantee that the value being substituted inplace of the null value would correctly reflect the sentiment of the comment.

In [11]:
def drop_null_rows(dfs: list):
  """
  Drop all rows that are missing any values.
  """
  for df_index in range(len(dfs)):
    dfs[df_index].dropna(inplace=True)

In [12]:
dfs = [dataset_filtered, dataset_filtered_us]

drop_null_rows(dfs)

Final Datasets:

In [13]:
dfs[0].head()

   id  created_utc                                               body
0   0   1635206220  Once my kid can get the vax.... I'm gonna have...
1   1   1635205901  Here's two decent little articles:\n\nhttps://...
2   2   1635205676  Because everyone else got polio vaccines too, ...
3   3   1635205465  I see a lot of covid republican expatients vot...
4   4   1635205392  Because his tone changed. Leading most people ...

In [14]:
dfs[1].head()

   id  created_utc                                               body
0   0   1635181242  &gt;An Asian American mother with a master’s d...
1   1   1635158133  &gt;For many Americans, Donald Trump will be r...
2   2   1635120959  Fauci admitted to downplaying the importance o...
3   3   1635112618  “Fauci holds x opinion while a private company...
4   4   1635110006  Na. Its what an intelligent person would say.\...

In [15]:
# exporting dataframes

from google.colab import files

dataset_filtered.to_csv('dataset_filtered_pandas.csv', encoding='utf-8')
files.download('dataset_filtered_pandas.csv')

dataset_filtered_us.to_csv('dataset_filtered_us_pandas.csv', encoding='utf-8')
files.download('dataset_filtered_us_pandas.csv')